p {
  font-family: times new roman;
  margin-top: 0px;
  margin-bottom: 35px;
  margin-right: 50px;
  margin-left: 50px;
}
#backup {
 font-family: times new roman;
  background-color: #27262b; 
}


h2 {
  margin-top: 25px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 50px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 50px;
}
/* Body/html */
body {
  font-family: Times New Roman', serif;
  background: ;
}
  
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: cell;
  outline: none;padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: cell;
  outline: none;
  font-family: Times New Roman; 
  border-radius: 25px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #30c032;
  border-radius: 25px;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #30c032;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
  border-radius: 25px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  font-family: Times New Roman', times new roman;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.dark-mode {
  background-color: #27262b;
  color: white;
}
.picture {
  border: 2px;
  float: right;
  padding: 5px;
}
#announcementBar {
	padding: 0 1rem 0 1.5rem;
	position: relative;
	margin:0;
	-webkit-align-items: center;
	align-items: center;
	background-color: #4f4f4f;
	border-bottom: 0.0625rem solid #dadce0;
	display: flex;
  flex-wrap: wrap;
	height: 53px;
}
.announcement {
	padding: 1rem 0.3125rem 1rem 0;
	margin:0;
	letter-spacing: .01428571em;
	font-family: Roboto,Arial,sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: #3c4043;
	margin-right: calc(88px - 1rem);
}
#dismiss {
	margin: 0 0 0 auto;
  float: right;
  right: 0;
	position: absolute;
}
.dismissed {
	animation-name: dismissed;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}
.btnText {
  font-family: "Google Sans",Roboto,Arial,sans-
}
#altLinkContainer {
	margin: 12px 30px 30px;
	color: #545454;
}

.altModalContent {
	position: relative;
	background-color: #fefefe;
	border: 1px solid #888;
	width: 20vw;
	min-width: 16rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 10px;
  user-select: none;
	-webkit-user-select: none;
	margin: auto;
	padding: 2rem;
	bottom: -10vh;

	-webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.4s;
  animation-name: animatebottom;
  animation-duration: 0.4s;
